<div id="container">
    <div id="foto" [ngStyle]="{'background-image':'url('+producto.fotoUrl+')'}">
        <img *ngIf="producto.esFit" src="./../../../../assets/icons/846457.png" alt="Comida Fit">
        <img *ngIf="producto.esPicante" src="./../../../../assets/icons/chile.png" alt="Comida Picante">
    </div>
    <div id="detalles">
        <h4>{{producto.nombre}}</h4>
<ul>
    <li *ngFor="let ingrediente of producto.ingredientes">
        {{ingrediente}}
    </li>
</ul>
<p id="precio">${{producto.precio}}</p>
</div>
</div>
