<section>
<form #buscarForm="ngForm" (change)="buscar()">
    <div id="barra-busqueda">
        <img src="./../../../assets/icons/lupa.svg" alt="Buscar">
        <input type="text" name="texto" [(ngModel)]="parametrosBusqueda.texto">
    </div>
    <div id="filtros-container">
        <div class="apto-container">
            <img src="./../../../assets/icons/846457.png" alt="Comida Fit">
            <input type="checkbox" name="fit" id="fit" [(ngModel)]="parametrosBusqueda.aptoFit">
            <span>Comida Fit</span>
        </div>
        <div class="apto-container">
            <img src="./../../../assets/icons/chile.png" alt="Comida Picante">
            <input type="checkbox" name="picante" id="picante" [(ngModel)]="parametrosBusqueda.aptoPicante">
            <span>Comida Picante</span>
        </div>
    </div>
</form>
<div id="contenedor-productos" *ngIf="productos().length!==0; else sinBusqueda">
    <app-tarjeta-producto *ngFor="let producto of productos()" 
    [producto]="producto" [routerLink]="['/articulo',producto.id]" >
</app-tarjeta-producto>
</div>
<ng-template #sinBusqueda>
    <h2>No hay resultados</h2>
</ng-template>
</section>