$color-principal:#FAF3E0	;
$color-principal-claro:#FDEBD0	;

$color-botones-principal:#db7a6f;
$color-botones-secundario:#c2ebd3;
$color-sello-comida:#82E0AA;

$border-radius-chico: 10px;
$border-radius-mediano: 15px;
$border-radius-grande: 20px;

$color-texto:black;
$color-texto-claro:rgb(84, 84, 84);